<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
    <h1><%= title %></h1>
</header>

<nav>
    <span><a title="留言板" href="/msgboard">公  共</a></span>
    <span><a title="发布留言" href="/msgboard/release ">发  布</a></span>
    <span><a title="管理留言" href="/msgboard/manage">管  理</a></span>
    <span><a title="编辑资料" href="/edit">编  辑</a></span>
    <span><a title="退出" href="/logout">退  出</a></span>
</nav>

<script src="/javascripts/jquery.min.js"></script>

<article>