<%- include msgheader %>
<form method='post' action='/edit' enctype='multipart/form-data' xmlns="http://www.w3.org/1999/html">
    <img src="" id='img' height="100" width="100"/>
    <p><input type="file" multiple name='field1' id='file'/><br></p>
    <p><input type="submit" id='submit'/></p>

    <div>
        <p><label id="id">【 ID 】</label></p>
        <p><label id="name">昵 称：</label></p>
        <input type="button" value="修 改 昵 称" onclick="modifyName()"/>
        <input type="text" id="inputName" style="DISPLAY:none"/>
        <input type="button" id='_ensure' value="确定" onclick="ensureName()" style="DISPLAY:none"/>
        <input type="button" id='_cancel' value="取消" onclick="cancelName()" style="DISPLAY:none"/>
        <label id="hint1"></label>
    </div>

    <p>
    <div>
    <p><label id="introduction">个 人 简 介：</label></p>
    <input type="button" value="修 改 简 介" onclick="modifyIntroduction()"/>
    <input type="text" id="inputIntroduction" style="DISPLAY:none"/>
    <input type="button" id='__ensure' value="确定" onclick="ensureIntroduction()" style="DISPLAY:none"/>
    <input type="button" id='__cancel' value="取消" onclick="cancelIntroduction()" style="DISPLAY:none"/>
    <label id="hint2"></label>
    </div>
    </p>
</form>

<script>
    //修改头像
    $(document).ready(function () {
        $.get('/edit/get', function (result) {
            if (!result.code) {
                console.log(result.msg);
                $("#img").attr('src', result.msg.head);
                document.getElementById('name').innerText = "【昵 称】：" + result.msg.name;
                document.getElementById('id').innerText = "【 ID 】：" + result.msg.id;

                if (result.msg.introduction) {
                    document.getElementById('introduction').innerText = "【个人简介】：" + result.msg.introduction;
                } else {
                    document.getElementById('introduction').innerText = "【个人简介】： 无";
                }
            }
        })
    });

    //修改昵称
    var ensureName = function () {
        if ($('#inputName').val()) {
            console.log('name : ' + $('#inputName').val());
            $.post('/edit/name', {
                name: $('#inputName').val()
            }, function (result) {
                console.log(result);
                if (!result.code) {
                    document.getElementById('name').innerText = "【昵 称】：" + $('#inputName').val();
                    $('#inputName').val('');
                    $('#hint1').html(result.msg)
                    setTimeout(function () {
                        $('#hint1').html('');
                    }, 2000)
                } else {
                    $('#inputName').val('');
                    $('#hint1').html(result.msg)
                    setTimeout(function () {
                        $('#hint1').html('');
                    }, 2000)
                }
            });
        }
    }

    //修改个人简历
    var ensureIntroduction = function () {
        if ($('#inputIntroduction').val()) {
            console.log('introduction : ' + $('#inputIntroduction').val());
            $.post('/edit/intruduction', {
                introduction: $('#inputIntroduction').val()
            }, function (result) {
                console.log(result);
                if (!result.code) {
                    document.getElementById('introduction').innerText = "【个人简介】：" + $('#inputIntroduction').val();
                    $('#inputIntroduction').val('');
                    $('#hint2').html(result.msg)
                    setTimeout(function () {
                        $('#hint2').html('');
                    }, 2000)
                } else {
                    $('#inputIntroduction').val('');
                    $('#hint2').html(result.msg)
                    setTimeout(function () {
                        $('#hint2').html('');
                    }, 2000)
                }
            });
        }
    }

    var modifyName = function () {
        document.getElementById('inputName').style.display = 'inline';
        document.getElementById('_ensure').style.display = 'inline';
        document.getElementById('_cancel').style.display = 'inline';
    }

    var cancelName = function () {
        document.getElementById('inputName').style.display = 'none';
        document.getElementById('_ensure').style.display = 'none';
        document.getElementById('_cancel').style.display = 'none';
        $('#inputName').val('');
    }

    var modifyIntroduction = function () {
        document.getElementById('inputIntroduction').style.display = 'inline';
        document.getElementById('__ensure').style.display = 'inline';
        document.getElementById('__cancel').style.display = 'inline';
    }

    var cancelIntroduction = function () {
        document.getElementById('inputIntroduction').style.display = 'none';
        document.getElementById('__ensure').style.display = 'none';
        document.getElementById('__cancel').style.display = 'none';
        $('#inputIntroduction').val('');
    }
</script>

<%- include footer %>