<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
    <h1><%= title %></h1>
</header>

<nav>
    <span><a title="退出" href="/msgboard">quit</a></span>
</nav>

<script src="/javascripts/jquery.min.js"></script>

<article>