<%- include msgheader %>

<form >
    <!--我的留言-->
    <p>
        <label id="title">【 我 的 留 言 】</label></p>
    <p>
    <div>
    <span class="text" id="m0">
    </span>
        <span class="button-span" id="b0" style="DISPLAY:none">
       <a class="long-btn" >[删除]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
    <span class="text" id="m1">
    </span>
        <span class="button-span" id="b1"style="DISPLAY:none">
       <a class="long-btn" >[删除]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
    <span class="text" id="m2">
    </span>
        <span class="button-span" id="b2"style="DISPLAY:none">
       <a class="long-btn" >[删除]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
    <span class="text" id="m3">
    </span>
        <span class="button-span" id="b3"style="DISPLAY:none">
       <a class="long-btn" >[删除]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
    <span class="text" id="m4">
    </span>
        <span class="button-span" id="b4"style="DISPLAY:none">
       <a class="long-btn" >[删除]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
    <span class="text" id="m5">
    </span>
        <span class="button-span" id="b5"style="DISPLAY:none">
       <a class="long-btn" >[删除]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
    <span class="text" id="m6">
    </span>
        <span class="button-span" id="b6"style="DISPLAY:none">
       <a class="long-btn" >[删除]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
    <span class="text" id="m7">
    </span>
        <span class="button-span" id="b7"style="DISPLAY:none">
       <a class="long-btn" >[删除]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
    <span class="text" id="m8">
    </span>
        <span class="button-span" id="b8"style="DISPLAY:none">
       <a class="long-btn" >[删除]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
    <span class="text" id="m9">
    </span>
        <span class="button-span" id="b9"style="DISPLAY:none">
       <a class="long-btn" >[删除]</a>
    </span>
    </div>
    </p>
    <p><input type="button" id="pre" value="上一页" style="DISPLAY:none"/>
        <input type="button" id="next" value="下一页" style="DISPLAY:none"/></p>

    <!--留言回复-->
    <p>
        <label id="title">【 我 的 回 复 】</label></p>
    <p>
        <label id="n0"></label>
        <a class="long-btn" id='c0'  style="DISPLAY:none">[删除]</a></p>
    <p>
        <label id="n1"></label>
        <a class="long-btn" id='c1'  style="DISPLAY:none">[删除]</a></p>
    <p>
        <label id="n2"></label>
        <a class="long-btn" id='c2'  style="DISPLAY:none">[删除]</a></p>
    <p>
        <label id="n3"></label>
        <a class="long-btn" id='c3'  style="DISPLAY:none">[删除]</a></p>
    <p>
        <label id="n4"></label>
        <a class="long-btn" id='c4'  style="DISPLAY:none">[删除]</a></p>
    <p>
        <label id="n5"></label>
        <a class="long-btn" id='c5'  style="DISPLAY:none">[删除]</a></p>
    <p>
        <label id="n6"></label>
        <a class="long-btn" id='c6'  style="DISPLAY:none">[删除]</a></p>
    <p>
        <label id="n7"></label>
        <a class="long-btn" id='c7'  style="DISPLAY:none">[删除]</a></p>
    <p>
        <label id="n8"></label>
        <a class="long-btn" id='c8' style="DISPLAY:none">[删除]</a></p>
    <p>
        <label id="n9"></label>
        <a class="long-btn" id='c9' style="DISPLAY:none">[删除]</a></p>
    <p>
        <input type="button" id="Rpre" value="上一页" style="DISPLAY:none"/>
        <input type="button" id="Rnext" value="下一页" style="DISPLAY:none"/></p>
</form>

<script>
    var page = 1;
    var Rpage = 1;
    var flag = 0;
    var Rflag = 0;
    var total = 0;
    var Rtotal = 0;
    var ID = [10];
    var RID = [10];

    var showMessage = function (result) {
        console.log('[收到留言] : ', result);
        if (!result.code && result.msg.length > 0) {
            var textID, btnID;
            for (var i = 0; i < result.msg.length; i++) {
                ID[i] = result.msg[i]._id;
                textID = '#m' + i;
                btnID = 'b' + i;
                $(textID).html(result.msg[i].time + ' [用户名] ' + result.msg[i].name + ' ： ' + result.msg[i].content);
                document.getElementById(btnID).style.display = 'inline';
            }

            for (i = result.msg.length; i < 10; i++) {
                textID = '#m' + i;
                btnID = 'b' + i;
                $(textID).html('');
                document.getElementById(btnID).style.display = 'none';
            }

            if (flag == 1) {
                page++;
            }

            if (flag == -1) {
                page--;
            }

            document.getElementById('pre').style.display = 'inline';
            document.getElementById('next').style.display = 'inline';

            total = result.total;
        } else {
            $('#m0').html('无');
        }
    }

    var getMessage = function (url, page) {
        $.get(url, {page: page}, showMessage);
    }

    var getReply = function (url, page) {
        console.log('请求页数 ： ', page);
        $.get(url, {page: page}, function (result) {
            console.log('[回复]', result);
            if (!result.code && result.msg.length > 0) {
                var textID, btnID;
                for (var i = 0; i < result.msg.length; i++) {
                    RID[i] = result.msg[i]._id;
                    textID = '#n' + i;
                    btnID = 'c' + i;
                    $(textID).html(result.msg[i].time + ' [用户名] ' + result.msg[i].name + ' 回复你 ： ' + result.msg[i].content);
                    document.getElementById(btnID).style.display = 'inline';
                }

                for (i = result.msg.length; i < 10; i++) {
                    textID = '#n' + i;
                    btnID = 'c' + i;
                    $(textID).html('');
                    document.getElementById(btnID).style.display = 'none';
                }

                if (Rflag == 1) {
                    Rpage++;
                }

                if (Rflag == -1) {
                    Rpage--;
                }

                console.log('当前页数 ：', Rpage);
                document.getElementById('Rpre').style.display = 'inline';
                document.getElementById('Rnext').style.display = 'inline';

                Rtotal = result.total;
                console.log('Rtotal : ', Rtotal);
            } else {
                $('#n0').html('无');
            }
        });
    }

    var deleteMessage = function (url, _id) {
        $.post(url, {id: _id}, function (result) {
            console.log(result);
            if (result.code == 0) {
                  return location.href = '/msgboard/manage';
            }
        });
    }

    var initButtion = function () {
        //上一页
        $('#pre').click(function () {
            if (page > 1) {
                getMessage('/msgboard/manage/get10', page - 1);
                flag = -1;
            }
        });

        //下一页
        $('#next').click(function () {
            if ((total % 10 == 0 && page < total / 10) || (total % 10 > 0 && page <= total / 10)) {
                getMessage('/msgboard/manage/get10', page + 1);
                flag = 1;
            }
        })

        //上一页
        $('#Rpre').click(function () {
            if (Rpage > 1) {
                getReply('/msgboard/manage/getTenReply', Rpage - 1);
                Rflag = -1;
            }
        });

        //下一页
        $('#Rnext').click(function () {
            if ((Rtotal % 10 == 0 && Rpage < Rtotal / 10) || (Rtotal % 10 > 0 && Rpage <= Rtotal / 10)) {
                getReply('/msgboard/manage/getTenReply', Rpage+1);
                Rflag = 1;
            }
        })

        //删除按钮的点击响应
        for (let i = 0; i < 10; i++) {
            var btnID = '#b' + i;
            $(btnID).click(function () {
                deleteMessage('/msgboard/manage/del', ID[i]);
            });
        }

        //删除按钮的点击响应
        for (let i = 0; i < 10; i++) {
            var ctnID = '#c' + i;
            $(ctnID).click(function () {
                deleteMessage('/msgboard/manage/delReply', RID[i]);
            });
        }
    }

    //首页获取10条留言
    getMessage('/msgboard/manage/get10', 1);

    //首页获取10条回复
    getReply('/msgboard/manage/getTenReply', 1);

    initButtion();

</script>

<%- include footer %>