<%- include msgheader %>
<form method="get">
    <p>
    <div>
        <input type="button" value="查看资料" id='b0' style="DISPLAY:none"/>
    <span class="text" id="m0">
    </span>
        <span class="button-span" id="c0" style="DISPLAY:none">
       <a class="long-btn">[查看回复] </a>
    </span>

    </div>
    </p>

    <p>
    <div>
        <input type="button" value="查看资料" id='b1' style="DISPLAY:none"/>
    <span class="text" id="m1">
    </span>
        <span class="button-span" id="c1" style="DISPLAY:none">
       <a class="long-btn">[查看回复]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
        <input type="button" value="查看资料" id='b2' style="DISPLAY:none"/>
    <span class="text" id="m2">
    </span>
        <span class="button-span" id="c2" style="DISPLAY:none">
       <a class="long-btn">[查看回复]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
        <input type="button" value="查看资料" id='b3' style="DISPLAY:none"/>
    <span class="text" id="m3">
    </span>
        <span class="button-span" id="c3" style="DISPLAY:none">
       <a class="long-btn">[查看回复]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
        <input type="button" value="查看资料" id='b4' style="DISPLAY:none"/>
        <span class="text" id="m4"></span>
        <span class="button-span" id="c4" style="DISPLAY:none">
       <a class="long-btn">[查看回复]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
        <input type="button" value="查看资料" id='b5' style="DISPLAY:none"/>
    <span class="text" id="m5">
    </span>
        <span class="button-span" id="c5" style="DISPLAY:none">
       <a class="long-btn">[查看回复]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
        <input type="button" value="查看资料" id='b6' style="DISPLAY:none"/>
    <span class="text" id="m6">
    </span>
        <span class="button-span" id="c6" style="DISPLAY:none">
       <a class="long-btn">[查看回复]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
        <input type="button" value="查看资料" id='b7' style="DISPLAY:none"/>
    <span class="text" id="m7">
    </span>
        <span class="button-span" id="c7" style="DISPLAY:none">
       <a class="long-btn">[查看回复]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
        <input type="button" value="查看资料" id='b8' style="DISPLAY:none"/>
    <span class="text" id="m8">
    </span>
        <span class="button-span" id="c8" style="DISPLAY:none">
       <a class="long-btn">[查看回复]</a>
    </span>
    </div>
    </p>
    <p>
    <div>
        <input type="button" value="查看资料" id='b9' style="DISPLAY:none"/>
        <span class="text" id="m9"></span>
        <span class="button-span" id="c9" style="DISPLAY:none">
       <a class="long-btn">[查看回复]</a>
    </span>
    </div>
    </p>
    <p>
    <p><input type="button" id="pre" value="上一页" style="DISPLAY:none"/>
        <input type="button" id="next" value="下一页" style="DISPLAY:none"/></p></p>
    <p>
    <div id="remind"></div>
    </p>

    <!--留言回复-->
    <p>
        <label id="t1" style="DISPLAY:none">【 留 言 回 复 】</label></p>
    <p>
        <span class="text" id="n0"></span>
        <span class="button-span" id="d0" style="DISPLAY:none">
       <a class="long-btn">[回复]</a>
    </span>
            <span class="button-span" id="e0" style="DISPLAY:none">
       <a class="long-btn">[查看评论]</a>
    </span>

    </p>

    <p>
        <span class="text" id="n1"></span>
        <span class="button-span" id="d1" style="DISPLAY:none">
       <a class="long-btn">[回复]</a>
    </span>
         <span class="button-span" id="e1" style="DISPLAY:none">
       <a class="long-btn">[查看评论]</a>
    </span>

    </p>

    <p>
        <span class="text" id="n2"></span>
        <span class="button-span" id="d2" style="DISPLAY:none">
       <a class="long-btn">[回复]</a>
    </span>
         <span class="button-span" id="e2" style="DISPLAY:none">
       <a class="long-btn">[查看评论]</a>
    </span>
    </p>

    <p>
        <span class="text" id="n3"></span>
        <span class="button-span" id="d3" style="DISPLAY:none">
       <a class="long-btn">[回复]</a>
    </span>
         <span class="button-span" id="e3" style="DISPLAY:none">
       <a class="long-btn">[查看评论]</a>
    </span>
    </p>

    <p>
        <span class="text" id="n4"></span>
        <span class="button-span" id="d4" style="DISPLAY:none">
       <a class="long-btn">[回复]</a>
    </span>
         <span class="button-span" id="e4" style="DISPLAY:none">
       <a class="long-btn">[查看评论]</a>
    </span>
    </p>

    <p>
        <span class="text" id="n5"></span>
        <span class="button-span" id="d5" style="DISPLAY:none">
       <a class="long-btn">[回复]</a>
    </span>
         <span class="button-span" id="e5" style="DISPLAY:none">
       <a class="long-btn">[查看评论]</a>
    </span>
    </p>

    <p>
        <span class="text" id="n6"></span>
        <span class="button-span" id="d6" 　 style="DISPLAY:none">
       <a class="long-btn">[回复]</a>
    </span>
         <span class="button-span" id="e6" style="DISPLAY:none">
       <a class="long-btn">[查看评论]</a>
    </span>
    </p>

    <p>
        <span class="text" id="n7"></span>
        <span class="button-span" id="d7" 　 style="DISPLAY:none">
       <a class="long-btn">[回复]</a>
    </span>
         <span class="button-span" id="e7" style="DISPLAY:none">
       <a class="long-btn">[查看评论]</a>
    </span>
    </p>

    <p>
        <span class="text" id="n8"></span>
        <span class="button-span" id="d8" 　 style="DISPLAY:none">
       <a class="long-btn">[回复]</a>
    </span>
         <!--<span class="button-span" id="e8" style="DISPLAY:none">-->
       <!--<a class="long-btn">[查看评论]</a>-->
    <!--</span>-->
    </p>

    <p>
        <span class="text" id="n9"></span>
        <span class="button-span" id="d9" 　 style="DISPLAY:none">
       <a class="long-btn">[回复]</a>
    </span>
         <!--<span class="button-span" id="e9" style="DISPLAY:none">-->
       <!--<a class="long-btn">[查看评论]</a>-->
    <!--</span>-->
    </p>

    <p>
        <span class="text" id="n10"></span>
        <span class="button-span" id="d10" 　 style="DISPLAY:none">
       <a class="long-btn">[回复]</a>
    <!--</span>-->
         <!--<span class="button-span" id="e10" style="DISPLAY:none">-->
       <!--<a class="long-btn">[查看评论]</a>-->
    </span>
    </p>
<!--************************************************************************************************************-->
    <p><input type="button" id="Rpre" value="上一页" style="DISPLAY:none"/>
        <input type="button" id="Rnext" value="下一页" style="DISPLAY:none"/>
        <input type="button" id="closeReply" value="关 闭 回 复" style="DISPLAY:none"/></p>

    <br/>
    <textarea name="content" id="content" rows="10" cols="80" style="DISPLAY:none"></textarea><br/>
    <p><input type="button" id="reply" value="回   复" 　style="DISPLAY:none"/>
        <input type="button" id="close" value="关   闭" 　style="DISPLAY:none"/>
    </p>
    <!--<p>-->
    <!--<div id="msg"></div>-->
    <!--</p>-->

    <!--*******************************************************-->
    <!--评论-->
    <p>
        <label id="t2" style="DISPLAY:none">【 回 复 评 论 】</label></p>
    <p>
        <span class="text" id="p0" style="DISPLAY:none"></span>
    </span>
    </p>

    <p>
        <span class="text" id="p1"　style="DISPLAY:none"></span>
        </span>
    </p>

    <p>
        <span class="text" id="p2"　style="DISPLAY:none"></span>
        </span>
    </p>

    <p>
        <span class="text" id="p3"　style="DISPLAY:none"></span>
        </span>
    </p>

    <p>
        <span class="text" id="p4"　style="DISPLAY:none"></span>
        </span>
    </p>

    <p>
        <span class="text" id="p5"　style="DISPLAY:none"></span>
        </span>
    </p>

    <p>
        <span class="text" id="p6"　style="DISPLAY:none"></span>
        </span>
    </p>

    <p>
        <span class="text" id="p7"　style="DISPLAY:none"></span>
        </span>
    </p>

    <p>
        <span class="text" id="p8"　style="DISPLAY:none"></span>
        </span>
    </p>

    <p>
        <span class="text" id="p9"　style="DISPLAY:none"></span>
        </span>
    </p>


    <p><input type="button" id="Cpre" value="上一页" style="DISPLAY:none"/>
        <input type="button" id="Cnext" value="下一页" style="DISPLAY:none"/>
        <input type="button" id="closeReply" value="关 闭 回 复" style="DISPLAY:none"/></p>


    <!--*******************************************************-->





</form>

<script>
    var page = 1;
    var Rpage = 1;
    var flag = 0;
    var Rflag = 0;
    var total = 0;
    var Rtotal = 1;
    var msg = [10];
    var ID1 = [10];
    var rpy = [10];
    var current;
    var currentReply;
    var currentComment;

    var showMessage = function (result) {
        console.log(result);
        if (!result.code) {
            var line;
            var btnID1;
            var btnID2;
            for (var i = 0; i < result.msg.length; i++) {
                line = '#m' + i;
                btnID1 = 'c' + i;
                btnID2 = 'b' + i;
                msg[i] = result.msg[i];
                $(line).html(result.msg[i].time + ' [用户] ' + result.msg[i].name + ' ： ' + result.msg[i].content);
                document.getElementById(btnID1).style.display = 'inline';
                document.getElementById(btnID2).style.display = 'inline';
            }

            for (i = result.msg.length; i < 10; i++) {
                line = '#m' + i;
                btnID1 = 'c' + i;
                btnID2 = 'b' + i;
                $(line).html('');
                document.getElementById(btnID1).style.display = 'none';
                document.getElementById(btnID2).style.display = 'none';
            }

            if (flag == 1) {
                page++;
            }

            if (flag == -1) {
                page--;
            }

            total = result.total;

            if (result.msg.length < 1) {
                $('#m0').html('无');
            } else {
                document.getElementById('pre').style.display = 'inline'
                document.getElementById('next').style.display = 'inline'
            }
        }
    }

    //获取10条留言
    var getMessage = function (url, page) {
        $.get(url, {page: page}, showMessage);
    }

    //获取10条回复
    var getReply = function (url, page) {
        console.log('id : ', msg[current]._id);
        $.get('/msgboard/check', {
            id: msg[current]._id,
            page: page
        }, function (result) {
            console.log('查看回复：', result.msg);
            clearReply();
            console.log(msg[current])
            $('#n0').html('【 当 前 】' + msg[current].time + ' [用户] ' + msg[current].name + ' ： ' + msg[current].content);
            document.getElementById('closeReply').style.display = 'inline';
            document.getElementById('Rpre').style.display = 'inline';
            document.getElementById('Rnext').style.display = 'inline';
            document.getElementById('d0').style.display = 'inline';
            document.getElementById('t1').style.display = 'inline';

            var btnID, btnID1, replyID;
            for (var i = 1; i <= result.msg.length; i++) {
                replyID = '#n' + i;
                btnID = 'd' + i;
                btnID1 = 'e' + i;
                rpy[i] = result.msg[i - 1];
                console.log('btnID : ', btnID);

//                console.log(result.msg[i - 1].targetID);
                if(null == result.msg[i - 1].targetID) {
                    $(replyID).html(result.msg[i - 1].time + ' [用户] ' + result.msg[i - 1].name + ' : ' + result.msg[i - 1].content);
                } else {
                    $(replyID).html(result.msg[i - 1].time + ' [用户] ' + result.msg[i - 1].name + ' 回复 [用户] '
                                        + result.msg[i - 1].targetName + ' : ' + result.msg[i - 1].content);
                }

                document.getElementById(btnID).style.display = 'inline';
//                document.getElementById(btnID1).style.display = 'inline';
            }

            for (; i < 10; i++) {
                replyID = '#n' + i;
                $(replyID).html('');
            }

            if (Rflag == 1) {
                Rpage++;
            }

            if (Rflag == -1) {
                Rpage--;
            }

            console.log('total : ', result.total);
            console.log('获取回复(rpy) : ', rpy);
            Rtotal = result.total;

            if (result.msg.length < 1) {
                $('#n1').html('无');
            }
        });
    }

    //清除留言栏
    var clearReply = function () {
        var replyID;
        var btnID, btnID1;

        for (i = 0; i <= 10; i++) {
            replyID = '#n' + i;
            btnID = 'd' + i;
//            btnID1 = 'e' + i;
            $(replyID).html('') ;
            document.getElementById(btnID).style.display = 'none';
//            document.getElementById(btnID1).style.display = 'none';
        }

        $('#content').val('');
        document.getElementById('reply').style.display = 'none';
        document.getElementById('content').style.display = 'none';
        document.getElementById('close').style.display = 'none';
        document.getElementById('closeReply').style.display = 'none';
        document.getElementById('t1').style.display = 'none';
        document.getElementById('Rpre').style.display = 'none';
        document.getElementById('Rnext').style.display = 'none';
    }

    //相关按钮的点击响应
    var buttonClick = function () {
        //查看回复按钮的点击响应
        for (let i = 0; i < 10; i++) {
            var btnID = '#c' + i;
            $(btnID).click(function () {
                current = i;
                getReply('/msgboard/check', 1);
            });
        }

//        //查看评论按钮的点击响应
//        for (let k = 0; k < 10; k++) {
//            var btnID = '#e' + k;
//            $(btnID).click(function () {
//                console.log('【评论】 ： ', k);
//                currentComment = k;
//                document.getElementById('t2').style.display = 'inline';
//                getComment('/msgboard/comment', 1);
//            });
//        }

        //关闭回复的点击响应
        $('#closeReply').click(function (result) {
            clearReply();
        })

        //关闭回复输入框的点击响应
        $('#close').click(function (result) {
            $('#content').html('');
            document.getElementById('reply').style.display = 'none';
            document.getElementById('content').style.display = 'none';
            document.getElementById('close').style.display = 'none';
        })

        //发送回复请求
        $('#reply').click(function (result) {
            if(currentReply == 0) {             //主留言回复
                $.post('/msgboard/reply', {
                    msg: JSON.stringify(msg[current]),
                    content: $('#content').val(),
                }, function (result) {
                    console.log('收到回复：', result);
                    if (!result.code) {
//                        location.href = '/msgboard';
                        var btn;
                        for (var i = 1; i <= result.msg.length; i++) {
                            console.log(result.msg[i - 1]);
                            var btn = 'd' + i;
                            replyID = '#n' + i;

                            if(null == result.msg[i - 1].targetID) {
                                $(replyID).html(result.msg[i - 1].time + ' [用户] ' + result.msg[i - 1].name + ' : ' + result.msg[i - 1].content);
                            } else {
                                $(replyID).html(result.msg[i - 1].time + ' [用户] ' + result.msg[i - 1].name + ' 回复 [用户] '
                                        + result.msg[i - 1].targetName + ' : ' + result.msg[i - 1].content);
                            }

                            document.getElementById(btn).style.display = 'inline';
                        }

                        for (i = result.msg.length + 1; i < 10; i++) {
                            replyID = '#n' + i;
                            $(replyID).html('');
                        }

                        document.getElementById('content').style.display = 'none';
                           document.getElementById('reply').style.display = 'none';
                        document.getElementById('close').style.display = 'none';
                    }
                });
            } else {                                //回复的回复
                $.post('/msgboard/replyReply', {
                    msg: JSON.stringify(rpy[currentReply]),
                    content: $('#content').val(),
                }, function (result) {
                    console.log('收到评论：', result);
                    if (!result.code) {
                        var btn;
                        for (var i = 1; i <= result.msg.length; i++) {
                            console.log(result.msg[i - 1]);
                            var btn = 'd' + i;
                            replyID = '#n' + i;

                            if(null == result.msg[i - 1].targetID) {
                                $(replyID).html(result.msg[i - 1].time + ' [用户] ' + result.msg[i - 1].name + ' : ' + result.msg[i - 1].content);
                            } else {
                                $(replyID).html(result.msg[i - 1].time + ' [用户] ' + result.msg[i - 1].name + ' 回复 [用户] '
                                        + result.msg[i - 1].targetName + ' : ' + result.msg[i - 1].content);
                            }
                            document.getElementById(btn).style.display = 'inline';
                        }

                        for (i = result.msg.length + 1; i < 10; i++) {
                            replyID = '#n' + i;
                            $(replyID).html('');
                        }

                        document.getElementById('content').style.display = 'none';
                        document.getElementById('reply').style.display = 'none';
                        document.getElementById('close').style.display = 'none';
                    }
                });
            }
        })

        //当前留言回复按钮的点击响应
        for(let i = 0; i <= 10; i++) {
            var bt = '#d' + i;
            $(bt).click(function (result) {
                currentReply = i;
                console.log('[当前位置] ： ', currentReply);
                document.getElementById('reply').style.display = 'inline';
                document.getElementById('content').style.display = 'inline';
                document.getElementById('close').style.display = 'inline';
            });
        }

        //留言的上一页
        $('#pre').click(function () {
            console.log('获取页数 ：', page - 1);
            console.log('总页数 ：', total);
            if (page > 1) {
                getMessage('/msgboard/get10', page - 1);
                flag = -1;
                clearReply();
            }
        });

        //留言的下一页
        $('#next').click(function () {
            console.log('获取页数 ：', page - 1);
            console.log('总页数 ：', total);
            if ((total % 10 == 0 && page < total / 10) || (total % 10 > 0 && page <= total / 10)) {
                getMessage('/msgboard/get10', page + 1);
                flag = 1;
                clearReply();
            }
        })

        //回复的上一页
        $('#Rpre').click(function () {
            if (Rpage > 1) {
                console.log('获取页数：', Rpage - 1);

                getReply('/msgboard/check', Rpage - 1);
                Rflag = -1;
                // clearReply();
            }
        });

        //回复的下一页
        $('#Rnext').click(function () {
            if ((Rtotal % 10 == 0 && Rpage < Rtotal / 10) || (Rtotal % 10 > 0 && Rpage <= Rtotal / 10)) {
                console.log('获取页数：', Rpage + 1);
                getReply('/msgboard/check', Rpage + 1);
                Rflag = 1;
//                clearReply();
            }
        })

        //查看资料的点击响应
        for (let j = 0; j < 10; j++) {
            var btn = '#b' + j;
            $(btn).click(function () {
//                console.log('site : ', j);
//                console.log('msg : ', msg[j]);
                $.get('/msgboard/getData', {
                    name: msg[j].name
                }, function (result) {
                    console.log(result);
                    if (!result.code) {
                        alert(' 【 ID 】 ' + result.msg.id + '【 昵 称 】 ' + result.msg.name + ' 【 个 人 简 介 】 ' + result.msg.introduction);
                    }
                });
            });
        }
    }

    /*******************************/
    //关闭留言相关内容显示
    clearReply();

    //首页获取10条留言
    getMessage('/msgboard/get10', 1);

    //按钮的点击响应
    buttonClick();


</script>


<%- include footer %>