<%- include header %>
<form method="post">
    <p>用户名： <input type="text" name="name" id="name"/><br /></p>
    <p>密码：    <input type="password" name="password" id="password"/><br /></p>
    <p>确认密码：<input type="password" name="password-repeat" id="password-repeat"/><br /></p>
    <p>  <input type="button" id="reg" value="注   册"/></p>
    <div id="msg"></div>


</form>

<script>
    $('#reg').click(function () {
        if(!$('#name').val()) {
            return $('#msg').html('请输入用户名!');
        }

        if(!$('#password').val() || !$('#password-repeat').val() ) {
            return $('#msg').html('请输入密码!');
        }

        if($('#password').val()!=$('#password-repeat').val()) {
            return $('#msg').html('两次输入的密码不一致!');
        }

        $.post("/reg",{
            'name': $('#name').val(),
            'password': $('#password').val(),
            'password-repeat': $('#password-repeat').val(),
        },function(result){
            if(result.code == 0) {
                $('#msg').html(result.msg);
                setTimeout(function () {
                    location.href = '/login';
                }, 500)
            } else {
                $('#msg').html(result.msg);
            }
        });
    });
</script>

<%- include footer %>