<!--
需要的变量:
  img:卡片陈列的图片
  curId:卡片陈列博文的Id
  title:博文标题
  authorId:作者id
  info:文章信息。类似（作者:XX,时间：xx，地点:xx），是一个字符串
  desc:文章简要。(文章摘要)
  extra_info:文章额外信息

需要的路由:
  getWBDetail:获取某条微博详情 args:{id:微博Id}
  getAuthorInfo:获得某个作者信息 args:{id:作者Id}
-->

<div>
    <div class="item">
        <div class="image">
            <img src="{{img}}" v-link="{name:'getWBDetail',query:{id:curId}">
        </div>
        <div class="content">
            <a class="header" v-link="{name:'getWBDetail',query:{id:curId}">{{title}}</a>
            <div class="meta">
                <a v-link="{name:'getAuthorInfo',query:{id:authorId}"><span>{{info}}</span></a>
            </div>
            <div class="description">
                <a v-link="{name:'getWBDetail',query:{id:curId}"><p>{{desc}}</p></a>
            </div>
            <div class="extra">
                {{extra_info}}
            </div>
        </div>
    </div>
</div>